* 
body {
    font-family: "Xanh Mono", monospace;
    font-style: normal;
    color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 1.25rem;

}

#main1{
    font-size: 24px;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#main2{
    font-size: 13px;
    text-align: right;
    width: 600px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#main_not_found {
    font-size: 13px;
    text-align: left;
    margin: 0 auto;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#asciiart {
    /* white-space: pre;      /* Preserves spaces and line breaks */
    font-family: monospace; /* Ensures fixed-width characters */

    font-size: 12px;
    color: rgb(93, 93, 93);
    position: absolute; 
    z-index: index 1;
}

/* for general text */
#general {
    font-size: 13px;
    text-align: left;
    margin: 0 auto;
    width: 400px;
    margin-right: -50%;
}


#buttons {
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    width: 180px;
}

a.link{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    padding: 5px;
}

a.link:link{
    color: #000000;
    text-decoration: none;
}

a.link:visited{
    color: rgb(96, 34, 190);
    text-decoration: none;
}

a.link:hover{
    color: rgb(89, 220, 57);
    text-decoration: none;
    font-style: italic;
    -webkit-transform: scale(2);
    transform: scale(1.2);
}

a.link:active{
    color: rgb(25, 126, 72);
    text-decoration: none;
}

#BG-container {
	width: 600px;
	background-color: #dedede;
	margin: 0 auto;
}
